/node_modules
/public/hot
/public/storage
/public/*.jpg
/storage/*.key

/temp
/resources/views/@backup
/resources/views/money/@money
/resources/views/money/temp

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Laravel起動.bat
無題