.wrapper {
  margin: 15px auto;
  max-width: 100%;
}
.container-calendar {
  background: #ffffff;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

/* ÉJÉåÉìÉ_Å[ÇÃÉZÉã */
.table-calendar th,
.table-calendar td{
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
    color: black;
}
/* ìñì˙ */
.date-picker.selected {
  font-weight: bold;
  color: #fff;
  background: #00ffff;
}
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}
/* ì˙ój */
.date-picker:nth-child(1) {
color: #DD1F30;
}
/* ìyój */
.date-picker:nth-child(7) {
color: #00FFFF;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}
#previous {
  float: left;
}
#next {
  float: right;
}
.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}
.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}